#middle-wrap{
position:fixed;
left:20%;
right:20%;
top:0px;
bottom:0px;
background-color:gold;
}
#leftarrow, #rightarrow{
color:#999;
position:absolute;
top:50%;
font-size:3em;
margin-top:-0.5em;
}
#leftarrow{
left:4%;
}
#rightarrow{
right:4%;
}
#leftarrow:hover, #rightarrow:hover{
color:#333;
cursor:pointer;
}


.question{
height:500px;
background-color:white;
border:solid 1px black;
border-radius:5px;
padding:10px;
clear:both; position:absolute;
left:10%;right:10%;
top:50%;
margin:-250px 0 0 0;
}
.questiontext{
font-size:1.5em;
}
.question h2, .question h4{
text-align:center;
margin:0px;
}
.question .inputarea{
padding:10px;
position:absolute;
bottom:1px;
left:0px;
width:100%;
height:200px;
}
.question .inputarea textarea{
width:97%;
height: 90px;
margin-bottom:10px;
resize: none;
overflow-y: scroll;
}
.question .inputarea .mathjaxpreview-wrap{
width:97%;
height: 100px;
overflow-y: scroll;
border:solid 1px black;
}
.question .inputarea .mathjaxpreview-wrap .mathjaxpreview{
padding:10px;
}