/*Main stylesheet for CalcBee.*/

/*General styles*/
body{
	margin:0px;padding:0px;
	font-family:Georgia, sans-serif;
	/*Open Sans doesn't have bold.*/
	font-weight:400;
	font-size:14pt;
	color:#e2e244;
	text-align:center;
	overflow:hidden;
	line-height:1.5em;
}
/*http://css-tricks.com/overriding-the-default-text-selection-color-with-css/*/
::selection {
  background: #000; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #000; /* Gecko Browsers */
}
.center{
	display:block;
	text-align:center;
}
a{color:#cc6;text-decoration:underline;}
a.sn, a.navlink, a.bg, .header, a.btn, a.img{text-decoration:none;}
a:active{color:#fff;}
a.anchor{
	display:block;
	position:relative;
	top:-50px;
	visibility:hidden;
}
.header{
	font-size:54pt;
	height:100px;
	line-height:100px;
	font-weight:700;
	display:inline-block;
	width:100%;
}
p{
margin-bottom:1em;
text-indent:2em;
}

h1,h2,h3,h4,header,.header,.btn,.navlink,#logo{
font-family:Comfortaa, Open Sans, Droid Sans, Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4{
margin:0px;
margin-top:1em;
display:block;
}
.content h2, .content h3, .content h4{
font-weight:bold;
}
.clear { clear: both; }
table.coldisplay{
width:100%;
text-align:center;
}
table.coldisplay td{
vertical-align:top;
}
table.coldisplay h4{
text-decoration:underline;
}
table.spacious{
width: 75%;
margin-left: auto; margin-right: auto;
border-spacing: 5px;
border-collapse: separate;
}
table.spacious td{
color:#000;
background-color:#ff0;
padding:5px;
}

/*Since we have so much of it, bgcolor/color style classes.*/
/*bg for yellow on black, bgr for reverse; add h for hover change*/
.bg{color:#ff0;background-color:#000;}
.bgr{color:#000;background-color:#ff0;}
.bgr.l{color:#000;background-color:#ff9;}
.bgr.d{color:#000;background-color:#ee0;}
.bg.h,.bgr.h,.bgr.l.h,.bgr.d.h{/*also for box-shadow buttons.*/
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-ms-transition:all 0.3s;
	transition:all 0.3s;
}
.bg.h:hover, .bg.h.hover{background-color:#444;}
.bgr.h:hover, .bgr.h.hover{background-color:#ffc;}
.bgr.l.h:hover, .bgr.l.h.hover{background-color:#ee0;}
.bgr.d.h:hover, .bgr.d.h.hover{background-color:#ff9;}

/*The fixed thing at the top.*/
#navbar{
	position:fixed;
	top:0px;left:0px;right:0px;
	height:50px;
	z-index:1000;
	background-color:rgba(0,0,0,0.7);
	/*--todo--hm semitransparent? :)*/
}
#navbar *{
	height:50px;line-height:50px;
	display:inline-block;
	position:relative;
}
#logo{
	width:200px;
	font-size:30pt;
	vertical-align:top;/*Yaugh. The default is vertical-align: baseline, which aligns its baseline to the parent's baseline.*/
}
.sn{
	width:60px;
	margin:0px;padding:0px;padding-top:10px;
	top:-10px;
	-webkit-transition:top 0.5s;
	-moz-transition:top 0.5s;
	-o-transition:top 0.5s;
	-ms-transition:top 0.5s;
	transition:top 0.5s;
}
.sn:hover{top:0px;}
#fb{background-color:#3B5998;}
#tw{background-color:#00aced;}
#aops{background-color:#62912B;}
#mail{background-color:#bbbbbb;}
#wp{background-color:#ffffff;}
.navlink{padding:0px 10px;}


/*The bottom 90%, fixed and scrollable by itself.*/
#wrapper{
	position:fixed;
	top:0px;left:0px;right:0px;bottom:0px;
	overflow-y:scroll;
	z-index:0;
	-webkit-overflow-scrolling:touch;
	overflow-x:hidden;
	
	background-image:url('img/bg1.png');
	background-position:top center;
}

/*Title slide*/
section#titlesection{position:relative;width:100%;min-height:100%;height:auto;text-align:center;}
section#titlesection>div{
	position:absolute;
	top:15%;min-height:55%;height:auto;bottom:15%;
	left:10%;right:10%;
	background-color:rgba(0,0,0,0.7);
	padding:50px;
}
section#titlesection .header{color:#ff0;}/*It turns the :visited color. Hacky but the easiest way.*/
.btn{
	display:inline-block;
	width:140px;
	height:60px;line-height:60px;
	margin:10px 20px;
}
.btn.bg.h:hover{
-moz-box-shadow: 0 0 20px #ff0;
-webkit-box-shadow: 0 0 20px #ff0;
box-shadow: 0 0 20px #ff0;
filter:progid:DXImageTransform.Microsoft.Glow(Color=yellow,Strength=20);
z-index:10000;
}
.btn.bgr.h:hover{
-moz-box-shadow: 0 0 50px #000;
-webkit-box-shadow: 0 0 50px #000;
box-shadow: 0 0 50px #000;
filter:progid:DXImageTransform.Microsoft.Glow(Color=black,Strength=50);
z-index:10000;
}

/*All those arrows all over the place*/
/*http://blog.vivekv.com/rotate-image-360deg-when-mouse-hover-using-css-3.html*/
.downarrow{height:60px;opacity:0.5;}
.uparrow{
	height:100px;
	position:absolute;right:0px;
	opacity:0.3;
}
.backarrow{
	height:100px;
	position:absolute;left:0px;
	opacity:0.3;
}
.downarrow,.uparrow,.backarrow{
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
	overflow:hidden;
}
.downarrow:hover,.uparrow:hover,.backarrow:hover{
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg); 
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
	opacity:1.0;
}


/*For each slide*/
header>.header{border-top:solid 1px #ff0;}
header>.header.bgr{border-top:solid 1px #000;}
.content{
	text-align:left;
	padding:2% 20%;
	min-height:350px;
	background-color:rgba(0,0,0,0.7);
}

#schedtable th{
	width:150px;
	vertical-align:top;
	padding-top:10px;
}
#schedtable td{
	padding-top:10px;
	padding-left:3em;
	text-indent:-3em;
	line-height:1.2em;
}

/*Sponsors*/
.content img{
margin:20px;
height:100px;
}

/*Registration.*/
#formtable{
	margin-top:-10px;
	width:100%;
}
#formtable>tr>td, #formtable>tbody>tr>td{
	height:100%;
	vertical-align:top;
	width:49%;
}
#reg h2, #reg h3{margin:0px;}
#reg{display:block;margin-left:auto;margin-right:auto;}
#reg .ss-required-asterisk{color:red;}
#reg .error-message, #reg .required-message, #reg .ss-password-warning{display:none;}
#reg .ss-choices{list-style-type:none;}
#reg input{color:black;margin-left:0;}
#reg .ss-form-question{margin-bottom:20px;}

/*Footer.*/
footer{
	display:block;
	padding:20px 0;
	background-color:rgba(0,0,0,0.7);
}
footer div{
	width:15%;min-width:250px;
	margin:0 auto;
	border-radius:4px;/*Doesn't matter about compatibility.*/
}
